:root {
    --color-skyblue: #1f6f80;
    --color-fadeclue: #195b78;
}

.imageempoyergroups {
    max-width: fit-content;
    margin: 0 auto 40px;
}

.allaboutgroups {
    border: 5px solid var(--light-blue);
    padding: 20px;
}

.employer-holderss,
.shopaboutgriops {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.employer-holderss {
    text-align: center;
}


.allaboutgroups {
    border: 5px solid #80979f;
    padding: 20px;
    color: var(--color-skyblue);
}

.employer-holderss .fs-40,
.shopaboutgriops .fs-40,
.textplans-mainsss .fs-40 {
    font-weight: 700;
    color: var(--color-fadeclue);
    padding-bottom: 20px;
    margin: 0;
}

.textplans-mainsss {
    text-align: center;
}

.section-padding {
    padding: 50px 0px;
}

.shopplnas-data {
    border: 5px solid var(--color-darkblue);
    padding: 20px;
}

.last-dataaa {
    text-align: center;
}

.last-dataaa p {
    color: var(--color-skyblue);
    font-style: italic;
    font-weight: 600;
}

.fs-20 {
    font-size: 20px;
    font-weight: 600;
}

.holders-planssss .fs-20 {
    font-weight: 700;
    font-style: italic;
    padding-bottom: 15px;
    color: var(--color-skyblue);
}

.image-holderssplanss {
    color: var(--color-white);
    text-align: center;
    border: 4px solid #cbcaca;
    padding: 5px;
    
}

.allchild-holders {
    padding: 20px 0px 20px 0px;
}

.image-dtaaplans {
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.allplans-detailsss {
    padding: 50px 10px 0px 10px;
}

.holders-planssss {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.plansnamee,
.allplans-detailsss p {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.newbutton-universal {
    border: 2px solid var(--color-black);
    color: var(--color-skyblue);
    display: inline-block;
    padding: 12px 10px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

.newbutton-universal:hover {
    background: var(--color-darkblue);
    color: var(--color-white);
    border-color: var(--color-darkblue);
}

.grid-butttonsplans {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.plans-gridholders {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.palnsrows {
    row-gap: 50px;
}

.reconixe-holders {
    font-style: italic;
    text-align: center;
    color: var(--color-fadeclue);
}

.reconixe-holders p {
    font-weight: 600;
    font-style: italic;
}

.reconixe-holders p a {
    text-decoration: underline;
}

.textplans-mainsss .fs-40 {
    padding-bottom: 0;
}

.allaboutgroups p {
    font-weight: 400;
    font-style: italic;
}

@media(max-width:1400px) {
    .newbutton-universal {
        max-width: 250px;
        font-size: 16px;
        padding: 8px 10px;
    }
}

@media(max-width:1199px){
    .section-padding{
        padding: 30px 0px;
    }
}