---
import BaseLayout from "../layouts/BaseLayout.astro";
import { fetchAPI } from "../lib/wordpress";

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=120, stale-while-revalidate=30'
);

const Homequery = `query GetPage {
  page(id: "provider-login", idType: URI) {
    title
    content
    slug
    uri
     seo {
      title
      fullHead
    }
  }
}`;


let portal = await fetchAPI(Homequery);
---

   <BaseLayout title={portal.page.seo.title} fullHead={portal.page.seo.fullHead}>
<section
    class="portal-login"
    style="background-image: url(/assets/img/aigen.webp)"
  >
    <div class="container">
      <div class="login-form">
  
  <!-- Logo Top -->
  <div class="main-logo">
    <img src="/assets/img/logo.png" alt="Points Healthcare" />
  </div>

  <div class="top-login-content">
    
    <!-- Updated Title -->
    <h1>Secure Provider Log In</h1>

    <form action="#">
      <div class="login-from">

        <div class="input-f">
          <div class="top-list">          <label>Username</label>
          <a href="#" class="forgot-link">Forgot Username</a></div>
          <input type="text" placeholder="Enter your Username" />
        
        </div>

        <div class="input-f">

             <div class="top-list">                    <label>Password</label>
          <a href="#">Forgot Password</a></div>
          <input type="password" placeholder="Enter your password" />
         
        </div>

        <div class="savebtn">
          <input type="submit" value="Log In" />
        </div>

        <!-- Divider -->
        <div class="divider"></div>

        <!-- Bottom Content -->
        <div class="bottom-tiles">
          <span>Don’t have an account?</span>
          <p>
          Activate now to get the <br> most of your policy.</p>
        </div>

        <div class="activate-btn">
          <a href="#">Activate Your Account</a>
        </div>

      </div>
    </form>

  </div>
</div>
    </div>
  </section>
  <section class="login-section">
    <div class="top-titles">
      <span>Five Points Benefit Plans Portal</span>
    </div>
    <div class="container">
      <div class="login-from">
        <div class="login-flow">
          <div class="content">
            <h3>Setup Your Account</h3>
            <p>
              Enter Your Email Address to Begin Setup.
              <br />
              A Verification Code will be Sent to Your Email. <br />
              Please Check Your Inbox or Spam Folder.
            </p>
          </div>
          <form action="">
            <div class="input-f">
              <label for="">Email</label>
              <input type="email" placeholder="Enter your email" />
            </div>
            <div class="save">
              <input type="submit" value="Send Verification Code" />
            </div>
          </form>
        </div>
        <div class="login-flow">
          <div class="content">
            <h3>Forgot Password</h3>
            <p>Enter Your Registered Email Address to Reset Your Password.</p>
          </div>

          <form action="">
            <div class="input-f">
              <label for="">Email</label>
              <input type="email" placeholder="Enter your email" />
            </div>
            <div class="save">
              <input type="submit" value="Send OTP" />
            </div>
          </form>
        </div>
      </div>
      <div class="otheritles">
        <h2>Log In to Manage Your Patient’s Health Plan</h2>
        <p>
          Creating a provider account gives you access to your patient’s plan information and other resources.
        </p>
      </div>
      <div class="main-grild-portal">
        <div class="grid-data">
          <span>Track Claims</span>
          <img src="/assets/img/g1.png" alt="" />
        </div>
        <div class="grid-data">
          <span>Get Your Digital ID Cards</span>
          <img src="/assets/img/g2.webp" alt="" />
        </div>
        <div class="grid-data">
          <span>Check Your Benefits & Coverage</span>
          <img src="/assets/img/g3.png" alt="" />
        </div>
        <div class="grid-data">
          <span>Find Providers In Your Network</span>
          <img src="/assets/img/g4.png" alt="" />
        </div>
        <div class="grid-data">
          <span>Pay Your Premium (if applicable)</span>
          <img src="/assets/img/g5.png" alt="" />
        </div>
      </div>
      <div class="m-img">
        <img src="/assets/img/m-img.png" alt="" />
      </div>
      <div class="main-img-flow">
        <div class="account-secuirty">
          <h3 class="fs-35">Account Security</h3>
          <p>
            Your privacy is important and we follow state and federal
            regulations
          </p>
          <ul>
            <li>
              Each member account requires a unique email address to protect
              personal health information
            </li>
            <li>
              Policy holders have access to family totals, their claims and
              those of minors under 12
            </li>
            <li>
              Children 12 and older and spouses are required to have their own
              online account to see claim detail
            </li>
          </ul>
          <div class="login">
            <a href="#" class="c-btn">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
